<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tariand"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.tariand.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.tariand.CariTarianActivity"
            android:label="@string/title_activity_cari_tarian" >
        </activity>
        <activity
            android:name="com.example.tariand.CariNama"
            android:label="@string/title_activity_cari_nama" >
        </activity>
        <activity
            android:name="com.example.tariand.CariProvinsi"
            android:label="@string/title_activity_cari_provinsi" >
        </activity>
        <activity
            android:name="com.example.tariand.ListViewActivity"
            android:label="@string/title_activity_list_view" >
        </activity>
        <activity
            android:name="com.example.tariand.ShowTarianActivity"
            android:label="@string/title_activity_show_tarian" >
        </activity>
        <activity
            android:name="com.example.tariand.ShowDeskripsiActivity"
            android:label="@string/title_activity_show_deskripsi" >
        </activity>
        <activity
            android:name="com.example.tariand.ShowGambarActivity"
            android:label="@string/title_activity_show_gambar" >
        </activity>
        <activity
            android:name="com.example.tariand.ShowVideoActivity"
            android:label="@string/title_activity_show_video" >
        </activity>
        <activity
            android:name="com.example.tariand.PlayQuizActivity"
            android:label="@string/title_activity_play_quiz" >
        </activity>
        <activity
            android:name="com.example.tariand.AwardListViewActivity"
            android:label="@string/title_activity_award_list_view" >
        </activity>
        <activity
            android:name="com.example.tariand.QuizLevelActivity"
            android:label="@string/title_activity_quiz_level" >
        </activity>
        <activity
            android:name="com.example.tariand.TarianListActivity"
            android:label="@string/title_tarian_list" >
        </activity>
        <activity
            android:name="com.example.tariand.TarianDetailActivity"
            android:label="@string/title_tarian_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TarianListActivity" />
        </activity>
        <activity
            android:name=".PlayQuizActivity3"
            android:label="@string/title_activity_play_quiz_activity3" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnswerQuestion"
            android:label="@string/title_activity_answer_question" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TampilTarianActivity"
            android:label="@string/title_activity_tampil_tarian" >
        </activity>
        <activity
            android:name=".DeskripsiActivity"
            android:label="@string/title_activity_deskripsi" >
        </activity>
        <activity
            android:name=".GambarActivity"
            android:label="@string/title_activity_gambar" >
        </activity>
        <activity
            android:name=".VideoActivity"
            android:label="@string/title_activity_video" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>