<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tariand"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.tariand.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.tariand.CariTarianActivity"
            android:label="@string/title_activity_cari_tarian" >
        </activity>
        <activity
            android:name="com.example.tariand.CariNama"
            android:label="@string/title_activity_cari_nama" >
        </activity>
        <activity
            android:name="com.example.tariand.CariProvinsi"
            android:label="@string/title_activity_cari_provinsi" >
        </activity>
        <activity
            android:name=".ListViewActivity"
            android:label="@string/title_activity_list_view" >
        </activity>
        <activity
            android:name=".ShowTarianActivity"
            android:label="@string/title_activity_show_tarian" >
        </activity>
        <activity
            android:name=".ShowDeskripsiActivity"
            android:label="@string/title_activity_show_deskripsi" >
        </activity>
        <activity
            android:name=".ShowGambarActivity"
            android:label="@string/title_activity_show_gambar" >
        </activity>
        <activity
            android:name=".ShowVideoActivity"
            android:label="@string/title_activity_show_video" >
        </activity>
        <activity
            android:name=".PlayQuizActivity"
            android:label="@string/title_activity_play_quiz" >
        </activity>
    </application>

</manifest>